.landing-main,
.landing-main-show {
  display: flex;
  justify-content: center;
}

.landing-main {
  animation: blurize 0.6s linear;
}

.landing-header {
  font-size: 4rem;
  /* font-family: 'Poiret One', cursive; */
  text-align: center;
  height: max-content;
  font-weight: 100;
  color: #17bf33;
  overflow: hidden;
  border-right: 0.7rem solid #17bf33;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  padding-right: 0.5rem;
  animation: typing 3s steps(22, end), blink-caret 0.9s step-end infinite;
}

.landing-header-initial-1,
.landing-header-initial-2 {
  /* font-family: 'Poiret One', cursive; */
  font-weight: 100;
  margin: 0 auto;

  text-align: center;
  color: #17bf33;
  font-size: 4rem;
  height: max-content;
}

.landing-header-initial-2 {
  animation: fadeIn 0.5s linear;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 23rem;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(43, 255, 0);
  }
}

@keyframes blurize {
  from {
    filter: blur(2px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
