.landing-main,
.landing-main-show {
  display: flex;
  flex-direction: row;
}

.landing-header,
.landing-header-initial-1,
.landing-header-initial-2 {
  font-size: 4rem;
  height: 5rem;
  text-align: center;
  font-weight: 100;
  color: #17bf33;
  overflow: hidden;
  border-right: 0.7rem solid #17bf33;
  white-space: nowrap;
  margin: 3rem auto 0 auto;
  letter-spacing: 2px;
  padding-right: 0.5rem;
  animation: typing 1.8s steps(20, end), blink-caret 0.9s step-end infinite;
}

.landing-header-initial-1 {
  animation: typing-1 1s steps(10, end), blink-caret 0.9s step-end infinite;
}

.landing-header-initial-2 {
  animation: typing-2 2.3s steps(20, end), blink-caret 0.9s step-end infinite;
}

.job-title,
.job-title-show {
  color: rgb(76, 111, 66);
  font-size: 1.5rem;
  margin-top: 1rem;
  align-self: center;
  opacity: 0;
  transform: translate3d(2rem, 0, 0);
  transition: 0.3s linear;
}

.job-title-show {
  transform: translate3d(0, 0, 0);

  opacity: 1;
}
