.landing-main,
.landing-main-show {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing-header,
.landing-header-initial-1,
.landing-header-initial-2 {
  font-size: 4rem;
  /* font-family: 'Poiret One', cursive; */
  text-align: center;
  height: max-content;
  font-weight: 100;
  color: #17bf33;
  overflow: hidden;
  border-right: 0.7rem solid #17bf33;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  padding-right: 0.5rem;
  animation: typing 2.5s steps(20, end), blink-caret 0.9s step-end infinite;
}

.landing-header-initial-1 {
  animation: typing-1 1s steps(10, end), blink-caret 0.9s step-end infinite;
}

.landing-header-initial-2 {
  animation: typing-2 2.5s steps(20, end), blink-caret 0.9s step-end infinite;
}

.job-title,
.job-title-show {
  color: goldenrod;
  font-size: 1.5rem;
  margin-top: 1rem;
  align-self: center;
  opacity: 0;
  transform: translate3d(2rem, 0, 0);
  transition: 0.3s linear;
}

.job-title-show {
  transform: translate3d(0, 0, 0);

  opacity: 1;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 24rem;
  }
}

@keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 11rem;
  }
}

@keyframes typing-2 {
  from {
    width: 0;
  }
  to {
    width: 27rem;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(43, 255, 0);
  }
}

@keyframes blurize {
  from {
    filter: blur(2px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
