.nav-header {
  transition: 0.3s ease-in;
  opacity: 0;
  z-index: 0;
  display: none;
}

.nav-header-show {
  display: static;
  opacity: 1;
  z-index: 10;
}

.hamburger {
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 1rem;
  opacity: 1;
  filter: blur(0);
  transition: 0.8s ease-in;
  color: #1ff042;
  background: none;
  padding: 0.5rem 0.7rem;
  position: absolute;
  z-index: 20;
  right: 0;
  top: 0;
  border-color: #1ff042;
}

.hamburger-hide {
  opacity: 0;
  filter: blur(2px);
  color: #1ff042;
  background: none;
  padding: 0.5rem 0.7rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  border-color: #1ff042;
}

.hamburger:focus {
  outline: 0;
}

.hamburger:hover {
  background-color: #1ff042;
  transition: 0;
  color: black;
}

.fa-stream,
.fa-skull-crossbones {
  font-size: 1.4rem;
}

.nav-header {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.nav-link {
  color: #1ff042;
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  padding: 0.2rem 0.5rem;
  margin: 0.7rem;
  transition: 0.3s linear;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}

.nav-link a {
  color: #1ff042;
  text-shadow: #111 1px 1px 0, #000 1.1px 1.1px 5px;
  text-decoration-line: none;
  z-index: -1;
}

.nav-link::before {
  content: '';
  width: 120%;
  height: 0%;
  background-color: #1ff042;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: all 0.7s ease;
}

.nav-link:hover::before {
  height: 350%;
}

.nav-link:hover > a {
  color: black;
}
