.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #3b984a;
  border-color: #3b984a transparent #3b984a transparent;
  animation: lds-dual-ring 1.4s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
